body * { transition:all .3s; word-break:keep-all; }

.up-on-scroll { opacity:0; margin-top:-70px; max-width:100%; transition-duration:1s; }
.up-on-scroll.on { opacity:1; margin-top:0; }

.wrap { width:1400px; overflow:hidden; position:relative; margin:0 auto; }

#header { position:fixed; background-color:rgba(0,0,0,.95); border-bottom:2px solid #fff; height:78px; overflow:hidden; z-index:10; top:0; width:100%; }
#main .section1 { position:relative; background-image:url(../img/section1_bg.png); background-attachment:fixed; background-position:center; background-size:cover; background-repeat:no-repeat; overflow:hidden; }
#main .section2 { position:relative; background-image:url(../img/section2_bg.png); background-attachment:fixed; background-position:center; background-size:cover; background-repeat:no-repeat; overflow:hidden; }
#main .section3 { position:relative; overflow:hidden; }
#main .section4 { position:relative; overflow:hidden; background-color:#0d417e; }
#main .section5 { position:relative; background-image:url(../img/section5_bg.png); background-attachment:fixed; background-position:center; background-size:cover; background-repeat:no-repeat; overflow:hidden; }
#main .section6 { position:relative; overflow:hidden; background-color:#0d417e; }
#main .section7 { position:relative; background-image:url(../img/section7_bg.png); background-attachment:fixed; background-position:center; background-size:cover; background-repeat:no-repeat; overflow:hidden; }
#main .section9 { position:relative; background-image:url(../img/section9_bg.png); background-attachment:fixed; background-position:center; background-size:cover; background-repeat:no-repeat; overflow:hidden; }

@media screen and (max-width:1400px){
  .wrap { width:auto; }
}
@media screen and (max-width:1250px){
  #header { height:48px; }
}
